body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

/*navigation*/

#main-nav {
    background-color: rgba(0, 0, 0, 0);
}

.navbar-dark .navbar-brand {
    font-size: 25px;
}

#main-nav a {
    transition: all 04s;
}

#main-nav a:hover {
    color: #0ed8d6;
}

/*add class on scroll*/

#main-nav.scroll {
    background-color: rgba(23, 162, 184, 0.5);
}

/*header*/

#header {
    background-image: linear-gradient(rgba(163, 165, 168, 0.5), rgba(163, 165, 168, 0.5)), url("../img/header/pictures_on_the_wall.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#headers {
    text-align: center;
    color: white;
}

#headers h2,
#headers h1,
#headers button {
    margin-top: 20px;
}

#headers h1 {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 600;
}

#headers h2 {
    font-size: 30px;
}

/*first section services */

#section-services {
    margin-top: 60px;
}

.center-headers {
    text-align: center;
}

.section-h2 {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 700;
}

#row-section-services {
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}

#row-section-services i {
    background-color: rgb(23, 162, 184);
    color: white;
    border: 2px solid white;
    font-size: 40px;
    padding: 15px;
    margin-bottom: 20px;
    transition: all 0.4s;
}

#row-section-services i:hover {
    background-color: white;
    color: rgb(23, 162, 184);
    border: 2px solid rgb(23, 162, 184);
    transform: rotate(360deg)
}

#row-section-services i + p {
    font-size: 18px;
    letter-spacing: 1px;
}

/*second section portfolio*/

#section-portfolio {
    padding-top: 60px;
    padding-bottom: 80px;
    background-color: #f7f7f7;
}

#header-section-portfolio {
    margin-top: 30px;
    margin-bottom: 80px;
}

#section-portfolio .portfolio {
    background-color: white;
}

#first-row-section-second {
    margin-bottom: 20px;
}

.overflow {
    height: 300px;
    overflow: hidden;
}

.portfolio-images {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.4s;
}

.portfolio-images:hover {
    transform: scale(1.5, 1.5);
}

#img1 {
    background-image: url("../img/portfolio/box_of_cookies.jpg");
}

#img2 {
    background-image: url("../img/portfolio/chaotic_paint.jpg");
}

#img3 {
    background-image: url("../img/portfolio/chestnut_on_bracket.jpg");
}

#img4 {
    background-image: url("../img/portfolio/child_with_blue_paint.jpg");
}

#img5 {
    background-image: url("../img/portfolio/house_with_blue_doors.jpg");
}

#img6 {
    background-image: url("../img/portfolio/typing_on_laptop.jpg");
}

.mask {
    height: 300px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(23, 162, 184, 0.5);
    opacity: 0;
    transition: all 0.4s;
}

.mask:hover {
    opacity: 1;
}

.fa.fa-plus {
    color: white;
    font-size: 30px;
}

.paragraph-portfolio {
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.paragraph-portfolio p:first-of-type {
    font-weight: 700;
}

/*third section team*/

#section-team {
    padding-top: 30px;
    padding-bottom: 30px;
}

#header-section-team {
    margin-top: 30px;
    margin-bottom: 80px;
}

.team-members {
    margin-bottom: 15px;
}

.team-members figure {
    text-align: center;
}

.team-members figure img {
    max-width: 100%;
}

.team-members figcaption {
    padding: 40px 40px 0 40px;
    line-height: 30px;
}

.team-members .team-names {
    font-weight: 700;
    font-size: 20px;
}

.team-members .team-icons {
    text-align: center;
}

.team-members a {
    text-decoration: none;
}

a .icons-social {
    margin: 10px;
    color: white;
    border: 1px solid black;
    background-color: black;
    padding: 7px;
    font-size: 20px;
    width: 33px;
    height: 33px;
}

.icons-social:hover {
    background-color: rgb(23, 162, 184);
    border: 1px solid rgb(23, 162, 184);
}

#team-paragraph {
    text-align: center;
    padding: 70px 10px;
}

/*fourth section contact */

#background-contact {
    background-image: url("../img/footer/world-map.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#section-contact {
    padding-top: 10px;
}

#header-section-contact {
    margin-top: 60px;
    margin-bottom: 80px;
    color: white;
}

#mask-contact {
    background-color: rgba(0, 0, 0, 0.8);
}

#form-left,
#form-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#row-contact-form input,
#row-contact-form textarea {
    width: 100%;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    outline: none;
}

#button-contact {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
}

#button-contact button {
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 10px;
    cursor: pointer;
    outline: none;
    background-color: rgb(23, 162, 184);
    border: 2px solid rgb(23, 162, 184);
}

#button-contact button:hover {
    background-color: white;
    color: rgb(23, 162, 184);
    border: 2px solid rgb(23, 162, 184);
}

/*footer*/

#footer {
    padding: 25px 0;
    text-align: center;
}

#footer p {
    margin: 10px 0;
}

.icons-footer {
    margin: 0 10px;
}

#footer a {
    text-decoration: none;
}


